@media only screen and (min-width: 640px) {
    nav{
        flex-direction: row;

    }
    nav a {
        padding:1em;
        min-width: 120px;
        text-decoration: none;
        padding: 10px;
        font-size: 1.0em;
    }
    header > h1{
        color: var(--headline-color-on-color);
        font-size: 50px;
        font-family: var(--heading-font);
    }
    body{
        font-size: 18px;
    }
    h1,h3,h4{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
      }
}