@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    box-shadow: 0 0 2px 2px gray;
}
h1{
    color: rgb(102, 28, 170);
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    color: rgb(87, 18, 87);
    font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
}
img{
    width: auto;
	max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}
section{
    background-color: rgb(124, 131, 224);
    margin: 0.25rem;
    padding: 0.35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    margin-top: 20px;
    text-align: center;
}